<!--Navigation Start-->
  <nav class="max-w-5xl mx-auto flex gap-4 items-center">
      <img src="assets/images/codeabc_circle.png" alt="Code_ABC" class="w-[80px] h-[80px]">
      <div class="flex gap-4 justify-between items-center w-full">
          <div class="flex gap-6 items-center">
              <p>Home</p>
              <p>Channel</p>
              <p>Support</p>
              <p>About</p>
              <img src="assets/images/search.png" alt="search">
              <input type="text" class="py-2 px-16 border-2 border-gray-300 rounded-md">
          </div>
          <div class="flex gap-4 items-center">
              <div class="flex gap-2 items-center">
                  <img src="assets/images/lock.png" alt="lock">
                  <span>Login</span>
              </div>
              <button class="bg-primary px-8 py-3 rounded-md text-white">
                 Donate Now
              </button>
          </div>
      </div>
  </nav>
<!--Navigation End-->

<div class="w-full flex flex-col  justify-center items-center  bg-gray-300 p-5">
    <button class="py-3 px-5 bg-blue-300 pb-3" (click)="abc()"> check</button>
    <p>hello</p>
</div>