<!--Navigation Start-->
<nav class="max-w-5xl mx-auto flex flex-col md:flex-row gap-4 items-center">
    <img src="assets/images/codeabc_circle.png" alt="Code_ABC" class="w-[80px] h-[80px]">
    <div class="flex gap-4 flex-col md:flex-row justify-between items-center w-full">
        <div class="flex gap-6 flex-col md:flex-row items-center">
            <p>Home</p>
            <p>Channel</p>
            <p>Support</p>
            <p>About</p>
            <img src="assets/images/search.png" alt="search">
            <input type="text" class="py-2 px-16 border-2 border-gray-300 rounded-md">
        </div>
        <div class="flex gap-4 flex-col md:flex-row items-center">
            <div class="flex gap-2 items-center">
                <img src="assets/images/lock.png" alt="lock">
                <span>Login</span>
            </div>
            <button class="bg-primary px-8 py-3 rounded-md text-white">
                Donate Now
            </button>
        </div>
    </div>
</nav>
<!--Navigation End-->

<!--Hero Section Start-->
<section class="max-w-5xl mx-auto px-16 py-20 flex gap-6 flex-col md:flex-row justify-between items-center">
    <div>
        <h1 class="text-4xl font-bold pb-6"><span class="txt-primary">Tailwind CSS</span> Course Learner</h1>
        <h2 class="text-6xl font-bold txt-secondary pb-6">Riaz Mehadi</h2>
        <p class="font-bold">Linkdin,Riaz Mehadi</p>
        <div class="flex gap-6 items-center pt-8">
            <button class="bg-Secondary px-6 py-2 rounded-md text-white font-bold">Get Token</button>
            <div class="flex gap-2 items-center">
                <p>White paper</p>
                <img src="assets/images/play.png" alt="payer">
            </div>
        </div>
    </div>

    <div>
        <img src="assets/images/my-pic.jpg" alt="my-pic" class="w-[300px] h-[300px] rounded-full">
    </div>
</section>
<!--Hero Section End-->

<!--Service Section Start-->

<section class="bg-[#EEF5FF]  p-20">
    <div class="text-center ">
        <p class="txt-primary font-bold">Service we work for</p>
        <h1 class="pb-10">What care we do for career</h1>
        <img src="assets/images/down.png" alt="down" class="mx-auto">
    </div>
    <div class="max-w-5xl mx-auto grid gap-y-8 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 bg-white p-20">

        <div class="text-center flex flex-col gap-4">
            <img src="assets/images/career1.png" alt="career1" class="mx-auto w-[80px] h-[80px]">
            <h1 class="text-xl font-bold">Coding</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            <button class="txt-primary font-bold">
                Learn more
                <span>></span>
            </button>
        </div>

        <div class="text-center flex flex-col gap-4">
            <img src="assets/images/career2.png" alt="career1" class="mx-auto w-[80px] h-[80px]">
            <h1 class="text-xl font-bold">Coding</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            <button class="txt-primary font-bold">
                Learn more
                <span>></span>
            </button>
        </div>

        <div class="text-center flex flex-col gap-4">
            <img src="assets/images/career3.png" alt="career1" class="mx-auto w-[80px] h-[80px]">
            <h1 class="text-xl font-bold">Coding</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            <button class="txt-primary font-bold">
                Learn more
                <span>></span>
            </button>
        </div>

        <div class="text-center flex flex-col gap-4">
            <img src="assets/images/career4.png" alt="career1" class="mx-auto w-[80px] h-[80px]">
            <h1 class="text-xl font-bold">Coding</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            <button class="txt-primary font-bold">
                Learn more
                <span>></span>
            </button>
        </div>

        <div class="text-center flex flex-col gap-4">
            <img src="assets/images/career6.png" alt="career1" class="mx-auto w-[80px] h-[80px]">
            <h1 class="text-xl font-bold">Coding</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            <button class="txt-primary font-bold">
                Learn more
                <span>></span>
            </button>
        </div>

        <div class="text-center flex flex-col gap-4">
            <img src="assets/images/career6.png" alt="career1" class="mx-auto w-[80px] h-[80px]">
            <h1 class="text-xl font-bold">Coding</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            <button class="txt-primary font-bold">
                Learn more
                <span>></span>
            </button>
        </div>


    </div>

</section>

<!--Service Section End-->