

<div class="container mt-4">

  <!-- Employee List Table -->
  <div class="d-flex justify-content-center my-4">
    <div class="d-flex align-items-center flex-wrap gap-3">
      <div class="bg-primary text-white p-3 rounded">
        <h4 class="mb-0">Employee List</h4>
      </div>
    </div>
  </div>
  <div class="table-responsive mb-5">
    <table class="table table-bordered table-striped table-hover align-middle">
      <thead class="table-primary">
        <tr>
          <th>Employee ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Joining Date</th>
          <th>Role</th>
          <th>Allow</th>
          <th>Religion</th>
          <th>Delete</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of employeeList|employeeSerach:name|employeeRole:Role ">
          <td>{{ emp.employeeId }}</td>
          <td>{{ emp.name }}</td>
          <td>{{ emp.email }}</td>
          <td>{{ emp.phone }}</td>
          <td>{{ emp.joiningDate | date: 'shortDate' }}</td>
          <td>{{ emp.role }}</td>
          <td><input type="checkbox" [checked]="emp.allow" disabled></td>
          <td>{{ emp.religion || 'N/A' }}</td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="onDeleteEmployee(emp.employeeId)" [disabled]="disableDelete">
              Delete
            </button>
          </td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="onEditEmployee(emp)" [disabled]="disableDelete">
             Edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Address Table -->
  <div class="d-flex justify-content-center my-4">
    <div class="d-flex align-items-center flex-wrap gap-3">
      <div class="bg-primary text-white p-3 rounded">
        <h4 class="mb-0">Employee Address List</h4>
      </div>
    </div>
  </div>
  <div class="table-responsive mb-5">
    <table class="table table-bordered table-striped table-hover align-middle">
      <thead class="table-info">
        <tr>
          <th>Employee ID</th>
          <th>Employee Name</th>
          <th>Address Line</th>
          <th>City</th>
          <th>Country</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of employeeList |employeeSerach:name|employeeRole:Role">
          <td>{{ emp.employeeId }}</td>
          <td>{{ emp.name}}</td>
          <td>{{ emp.address.addressLine }}</td>
          <td>{{ emp.address.city }}</td>
          <td>{{ emp.address.country }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Relational Status Table -->
   <div class="d-flex justify-content-center my-4">
    <div class="d-flex align-items-center flex-wrap gap-3">
      <div class="bg-primary text-white p-3 rounded">
        <h4 class="mb-0">Relational Status List</h4>
      </div>
    </div>
  </div>
  
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover align-middle">
      <thead class="table-warning">
        <tr>
          <th>Employee ID</th>
          <th>Employee Name</th>
          <th>Relational With</th>
          <th>Relational Status</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let emp of employeeList |employeeSerach:name|employeeRole:Role">
          <tr *ngFor="let rel of emp.relationalStatusList">
            <td>{{ emp.employeeId }}</td>
            <td>{{ emp.name }}</td>
            <td>{{ rel.name }}</td>
            <td>{{ rel.status }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

</div>

