/* styles.css or rooms.component.scss */
.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;  /* Full viewport height */
}

form {
  width: 100%;
  max-width: 500px;
  padding: 30px;
  background-color: #e6f2ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  box-sizing: border-box;
  margin-top: 20px;
}

@media (max-width: 576px) {
  form {
    padding: 15px;
  }
}
