.even {
    background-color: tomato !important;
    color: white !important;
}

.odd {
    background-color: lightblue !important;
    color: white !important;
}

.even td, .odd td {
    background-color: inherit;
    color: inherit;
}

  