<div class="min-h-screen bg-blue-100">
    <!--1st Job-->
    <div class="max-w-5xl mx-auto px-4 py-12 md:py-2 relative md:static">
        <div class="flex flex-col md:flex-row gap-6 justify-between bg-blue-200 p-6 items-center
        rounded-lg border-l-4 border-l-green-900">
            <!--1st div-->
            <div class="w-full border-b-2 border-gray-400 pb-4 md:border-none md:pb-0 flex gap-6 items-center">
                <div class="absolute left-10 top-3 md:static">
                    <img src="assets/images/photosnap.svg">
                </div>
                <div class="pt-6 md:pt-0  flex flex-col gap-2">
                    <div class="flex gap-4 ">
                        <p class="text-green-900 font-bold text-xl">photosnap</p>
                        <button class="px-4 py-1 rounded-full bg-green-900 font-bold text-white">New</button>
                        <button class="px-4 py-1 rounded-full bg-black font-bold text-white">Featured</button>
                    </div>
                    <h1 class="text-green-900 font-bold text-xl">Senior Frontend Developer</h1>
                    <div class="flex gap-4 items-center">
                        <div class="text-gray-500 text-sm">1 Day</div>
                        <div class="text-gray-500 text-base">.</div>
                        <div class="text-gray-500 text-sm">USA Only</div>
                        <div class="text-gray-500 text-base">.</div>
                        <div class="text-gray-500 text-sm">Fulltime</div>
                    </div>
                </div>
            </div>
            <!--2nd div-->
            <div class="w-full flex gap-4 flex-wrap ">
                <div class="bg-green-100 px-4 py-2 text-green-900 font-bold cursor-pointer rounded-md hover:bg-green-500 hover:text-white">Frontend</div>
                <div class="bg-green-100 px-4 py-2 text-green-900 font-bold cursor-pointer rounded-md hover:bg-green-500 hover:text-white">React</div>
                <div class="bg-green-100 px-4 py-2 text-green-900 font-bold cursor-pointer rounded-md hover:bg-green-500 hover:text-white">Redux</div>
                 <div class="bg-green-100 px-4 py-2 text-green-900 font-bold cursor-pointer rounded-md hover:bg-green-500 hover:text-white">Html</div>
            </div>
        </div>
    </div>

    <div class="max-w-5xl mx-auto px-4 py-12 md:py-2 relative md:static">
        <div class="flex flex-col md:flex-row gap-6 justify-between bg-blue-200 p-6 items-center
        rounded-lg border-l-4 border-l-green-900">
            <!--1st div-->
            <div class="w-full border-b-2 border-gray-400 pb-4 md:border-none md:pb-0 flex gap-6 items-center">
                <div class="absolute left-10 top-3 md:static">
                    <img src="assets/images/photosnap.svg">
                </div>
                <div class="pt-6 md:pt-0  flex flex-col gap-2">
                    <div class="flex gap-4 ">
                        <p class="text-green-900 font-bold text-xl">photosnap</p>
                        <button class="px-4 py-1 rounded-full bg-green-900 font-bold text-white">New</button>
                        <button class="px-4 py-1 rounded-full bg-black font-bold text-white">Featured</button>
                    </div>
                    <h1 class="text-green-900 font-bold text-xl">Senior Frontend Developer</h1>
                    <div class="flex gap-4 items-center">
                        <div class="text-gray-500 text-sm">1 Day</div>
                        <div class="text-gray-500 text-base">.</div>
                        <div class="text-gray-500 text-sm">USA Only</div>
                        <div class="text-gray-500 text-base">.</div>
                        <div class="text-gray-500 text-sm">Fulltime</div>
                    </div>
                </div>
            </div>
            <!--2nd div-->
            <div class="w-full flex gap-4 flex-wrap ">
                <div class="bg-green-100 px-4 py-2 text-green-900 font-bold cursor-pointer rounded-md hover:bg-green-500 hover:text-white">Frontend</div>
                <div class="bg-green-100 px-4 py-2 text-green-900 font-bold cursor-pointer rounded-md hover:bg-green-500 hover:text-white">React</div>
                <div class="bg-green-100 px-4 py-2 text-green-900 font-bold cursor-pointer rounded-md hover:bg-green-500 hover:text-white">Redux</div>
                 <div class="bg-green-100 px-4 py-2 text-green-900 font-bold cursor-pointer rounded-md hover:bg-green-500 hover:text-white">Html</div>
            </div>
        </div>
    </div>

    <div class="max-w-5xl mx-auto px-4 py-12 md:py-2 relative md:static">
        <div class="flex flex-col md:flex-row gap-6 justify-between bg-blue-200 p-6 items-center
        rounded-lg border-l-4 border-l-green-900">
            <!--1st div-->
            <div class="w-full border-b-2 border-gray-400 pb-4 md:border-none md:pb-0 flex gap-6 items-center">
                <div class="absolute left-10 top-3 md:static">
                    <img src="assets/images/photosnap.svg">
                </div>
                <div class="pt-6 md:pt-0  flex flex-col gap-2">
                    <div class="flex gap-4 ">
                        <p class="text-green-900 font-bold text-xl">photosnap</p>
                        <button class="px-4 py-1 rounded-full bg-green-900 font-bold text-white">New</button>
                        <button class="px-4 py-1 rounded-full bg-black font-bold text-white">Featured</button>
                    </div>
                    <h1 class="text-green-900 font-bold text-xl">Senior Frontend Developer</h1>
                    <div class="flex gap-4 items-center">
                        <div class="text-gray-500 text-sm">1 Day</div>
                        <div class="text-gray-500 text-base">.</div>
                        <div class="text-gray-500 text-sm">USA Only</div>
                        <div class="text-gray-500 text-base">.</div>
                        <div class="text-gray-500 text-sm">Fulltime</div>
                    </div>
                </div>
            </div>
            <!--2nd div-->
            <div class="w-full flex gap-4 flex-wrap ">
                <div class="bg-green-100 px-4 py-2 text-green-900 font-bold cursor-pointer rounded-md hover:bg-green-500 hover:text-white">Frontend</div>
                <div class="bg-green-100 px-4 py-2 text-green-900 font-bold cursor-pointer rounded-md hover:bg-green-500 hover:text-white">React</div>
                <div class="bg-green-100 px-4 py-2 text-green-900 font-bold cursor-pointer rounded-md hover:bg-green-500 hover:text-white">Redux</div>
                 <div class="bg-green-100 px-4 py-2 text-green-900 font-bold cursor-pointer rounded-md hover:bg-green-500 hover:text-white">Html</div>
            </div>
        </div>
    </div>
</div>