<h1> Welcom To {{hotelName}} </h1>

<div [hidden]="hiderooms">
    number of rooms: 
    <div [ngStyle]="{'color':rooms.availablerooms>0 ? 'green' : 'red'}"
    [innerText]="numberOfRooms">
</div>


<div>
    {{ rooms.availablerooms > 0 ? rooms.availablerooms : "no rooms available" }}
</div>
<!-- {{ roomList | json}} -->

<div *ngIf=" rooms.availablerooms>0">
      Room List:
      <table>
        <tr>
            <th>Index</th>
            <th>Even/Odd</th>
            <th>Room Number</th>
            <th>Room Type</th>
            <th>Room Amenities</th>
            <th>Room price</th>
            <th>ChekinTime</th>         
        </tr>

        <tr [ngClass]="e?'even' : 'odd'" 
            *ngFor="let room of roomList | slice:0:1;let e=even; let o=odd;let i=index">

            <td>{{i | percent}}</td>
            <td>{{e ? "Even" : "Odd"}}</td>
            <td>{{room.roomnumber}}</td>
            <td>{{room.roomtype}}</td>
            <td>{{room.amenities | titlecase}}</td>
            <td>{{room.price | currency :'Tk'}}</td>
            <td>{{room.checkinTime | date :'short'}}</td>

        </tr>


      </table>
</div>

<button (click)="toggle()">toggle</button>