<!-- <h1>Welcome to {{hotelName}}</h1> -->
<!--Use of viewchild ,viewchildren ,AfterViewInit,ngAfterViewChecked in room for header-->

<div [ngClass]="'roomcss'" *ngIf="hiderooms">
   <hinv-header></hinv-header>
   <hinv-header></hinv-header>
   <h2>Html body of rooms componet:</h2>
   <!--{{room$|async|json}}async pipe-->

   <h3>
      {{getError|async}}
   </h3>

   <div [hidden]="hiderooms">
      number of rooms:
      <div [ngStyle]="{'color':rooms.availablerooms>0 ? 'green' : 'red'}" [innerText]="numberOfRooms">
      </div>
   </div>

   <div>
      {{ rooms.availablerooms > 0 ? rooms.availablerooms : "no rooms available" }}
   </div>

   <!-- use of slice {{ roomList | json}} -->

   <div *ngIf="selectedRoom">
      {{selectedRoom | json}}
   </div>
   <div>
      number of room:{{roomcount|async}}
   </div>
   <div>
      <button class="btn btn-primary" (click)="AddRoom()">Add Room</button>
      <button class="btn btn-success" (click)="EditRoom()">Edit Room</button>
      <button class="btn btn-primary" (click)="toggle()">toggle</button>
   </div>
   <div>
      <h3>{{Totalbyte}} loaded</h3>
   </div>


</div>
<!--
example of async pipe
<div *ngIf="room$|async as rooms">
   <hinv-rooms-list [roomList]="rooms" ></hinv-rooms-list>
</div>
-->
<!--the upper part is hidden by setting hindroom=false-->
<div>
   <div class="d-flex justify-content-center my-4">
      <div class="d-flex align-items-center flex-wrap gap-3">

         <label class="form-label mb-0 fw-bold text-success">
           Min Price Filter:
         </label>
         <input type="number" class="form-control w-auto" [formControl]="filterPrice" placeholder="Enter price" />

         <label class="form-label mb-0 fw-bold text-success">
            Room Type Filter:
         </label>
         <input type="text" class="form-control w-auto" [formControl]="filterRoomtype" placeholder="Enter room type" />

         <label class="form-label mb-0 fw-bold text-success">
            Price Sort By:
         </label>
         <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="priceSort" value="asc" [(ngModel)]="priceSortOrder" />
            <label class="form-check-label">Low to High</label>
         </div>

         <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="priceSort" value="desc" [(ngModel)]="priceSortOrder" />
            <label class="form-check-label">High to Low</label>
         </div>

      </div>
   </div>
   <button class="btn btn-primary" [routerLink]="'add'">Add Room</button>


   <div>
      <!-- propertiest parent(room) to child(room-list) by
      properties binding and event binding.This is Component Communication-->

      <hinv-rooms-list [roomList]="this.roomList" [Title]="this.Titel" (SelectedRoom_rm_list)="selectRoom($event)"
         (DetetedID)="ReceiveDeletedID($event)" [Price]="filterPrice.value?filterPrice.value:0"
         [RoomType]="filterRoomtype.value?filterRoomtype.value:''"
         [priceSortOrder]="this.priceSortOrder"></hinv-rooms-list>
   </div>