.room-listcss{
    background-color: white;
}

.center-container {
  display: flex;
  justify-content: center;   /* Center horizontally */
  align-items: center;       /* Center vertically */           
  width: 100%;
  background-color: #f8f9fa; /* Optional */
}

