<div class="min-h-screen bg-black">
    <!--Accent-->
    <div class="my-4 ml-2 flex flex-col text-white ">
        <label><input type="checkbox" checked>Browser Deafult</label>
        <label><input type="checkbox" checked class="accent-pink-500">Browser Deafult</label>
    </div>

    <!--Fluid Texts-->
    <!-- <p class="text-5xl sm:text-7xl">Something Nice:</p> -->
    <p class="text-[min(5vw,70px)] text-white">Something Fluid</p>

    <!--File-->
    <label class="my-4 block">
        <input type="file" class="block w-full text-sm text-slate-500 file:mr-6 file:rounded-full 
    file:border-0 file:bg-violet-50 file:px-4 file:py-2 file:text-sm file:font-semibold
    file:text-violet-700 hover:file:bg-violet-100"></label>

    <!--Selection-->
    <div class="selection:bg-violet-500 text-white">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Odit sed dolorem similique, quibusdam maiores incidunt eaque neque facere saepe
            assumenda dolorum tempore fugiat accusantium veritatis eius. Id corrupti officiis qui!</p>
    </div>
</div>