<h3 class="bg-black text-white text-center text-5xl">List of lessions</h3>
<div>
    <ul>
        <li class="bg-red-500 text-white"><a [routerLink]="'/color_width_heigth'">Color, Width and Height</a></li>
        <li class="bg-blue-500 text-white"><a [routerLink]="'/typography'">Typography</a></li>
        <li class="bg-red-500 text-white"><a [routerLink]="'/padding_margin'">Padding and Margin</a></li>
        <li class="bg-blue-500 text-white"><a [routerLink]="'/border_radius'">Border_radius</a></li>
        <li class="bg-red-500 text-white"><a [routerLink]="'/gradiant_color_and_hover_effect'">Gradient color and hover effect</a></li>
        <li class="bg-blue-500 text-white"><a [routerLink]="'/flexbox'">Flexbox</a></li>
        <li class="bg-red-500 text-white"><a [routerLink]="'/grid'">Grid</a></li>
        <li class="bg-blue-500 text-white"><a [routerLink]="'/responsive'">Responsive</a></li>
        <li class="bg-red-500 text-white"><a [routerLink]="'/animation_transition'">Animation And Transition</a></li>
    </ul>
</div>


<h3 class="bg-yellow-500 text-white text-center text-4xl mt-5">List of Projects</h3>
<div>
    <ul>
        <li class="bg-red-500 text-white"><a [routerLink]="'/project1'">project1-card</a></li>
        <li class="bg-blue-500 text-white"><a [routerLink]="'/project2'">project2-form</a></li>
        <li class="bg-red-500 text-white"><a [routerLink]="'/project3'">project3-process</a></li>
    </ul>
</div>