<div class="bg-red-50"> color</div>
<div class="bg-red-200"> color</div>
<div class="bg-red-300"> color</div>
<div class="bg-red-500"> color</div>
<div class="bg-red-700"> color</div>
<div class="bg-red-950"> color</div>

<div class="bg-[#932F67] text-blue-500 w-1/2" > custom color from color hunt</div>
<div class="bg-[#FFD700] text-red-500 w-2/3"> custom color</div>
<div class="bg-[#386641] text-white w-full"> custom color</div>

<div class="bg-[#F0EBD8] text-black w-[400px] h-[600px]"> custom width and height</div>

<div class="bg-[#FFD700] text-black w-[400px] h-screen"> custom width and height</div>