<p class="text-xs">Typo</p>
<p class="text-sm">Typo</p>
<p class="text-base">Typo</p>
<p class="text-lg">Typo</p>
<p class="text-xl italic">Typo italic</p>
<p class="text-2xl">Typo</p>
<p class="text-5xl">Typo</p>
<br>

<h2 class="bg-red-500 text-white text-center text-5xl">Font Weight</h2>
<p class="text-2xl font-thin">Font</p>
<p class="text-2xl font-extralight">Font</p>
<p class="text-2xl font-light">Font</p>
<p class="text-2xl font-normal">Font</p>
<p class="text-2xl font-bold">Font</p>
<p class="text-2xl font-extrabold">Font</p>

<h2 class="bg-red-500 text-white text-center text-5xl">Line gape</h2>
<p class="leading-normal">Computer Science graduate from North South University skilled in full-stack development with
    .NET and Angular. Built scalable web apps, solved 1700+ coding problems, and designed clean APIs.
    Motivated, adaptive, and ready to contribute effectively to dynamic engineering teams.</p>

<br>

<p class="leading-relaxed">Computer Science graduate from North South University skilled in full-stack development with
    .NET and Angular. Built scalable web apps, solved 1700+ coding problems, and designed clean APIs.
    Motivated, adaptive, and ready to contribute effectively to dynamic engineering teams.</p>

<br>

<p class="leading-loose">Computer Science graduate from North South University skilled in full-stack development with
    .NET and Angular. Built scalable web apps, solved 1700+ coding problems, and designed clean APIs.
    Motivated, adaptive, and ready to contribute effectively to dynamic engineering teams.</p>

<br>

<p class="leading-6">Computer Science graduate from North South University skilled in full-stack development with
    .NET and Angular. Built scalable web apps, solved 1700+ coding problems, and designed clean APIs.
    Motivated, adaptive, and ready to contribute effectively to dynamic engineering teams.</p>


<h2 class="bg-red-500 text-white text-center text-5xl mb-10">Text Align and opacity,decoration</h2>

<p class="text-left text-purple-500/25">Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Voluptate velit nemo laboriosam dignissimos dolor aspernatur, quidem,
    amet officia voluptatibus illo quas assumenda ipsum reprehenderit
    voluptas ipsam qui adipisci ea sapiente!</p>

<br>
<p class="text-center text-purple-500/50">Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Voluptate velit nemo laboriosam dignissimos dolor aspernatur, quidem,
    amet officia voluptatibus illo quas assumenda ipsum reprehenderit
    voluptas ipsam qui adipisci ea sapiente!</p>

<br>
<p class="text-right text-purple-500/75">Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Voluptate velit nemo laboriosam dignissimos dolor aspernatur, quidem,
    amet officia voluptatibus illo quas assumenda ipsum reprehenderit
    voluptas ipsam qui adipisci ea sapiente!</p>
<br>

<p class="text-justify text-purple-500/100">Lorem ipsum <span class="underline decoration-green-500">dolor sit</span> amet consectetur adipisicing elit.
    Voluptate velit nemo laboriosam dignissimos dolor aspernatur, quidem,
    amet officia <span class="overline">voluptatibus</span> illo quas assumenda ipsum reprehenderit
    voluptas ipsam qui adipisci ea sapiente!</p>
<br>
<p class="text-justify text-purple-500/[.9]">Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Voluptate velit nemo laboriosam dignissimos dolor aspernatur, quidem,
    amet officia voluptatibus illo quas assumenda ipsum reprehenderit
    voluptas ipsam qui adipisci ea sapiente!</p>